body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.table-preview {
  object-fit: contain;
  width: 100%;
}

.hover-dropdown:hover select option:not(.always-visible) {
  display: block;
}

.custom-dropdown select option:not(:first-child) {
  display: none;
}

.custom-dropdown select option[selected] {
  display: block;
}